p{
    word-wrap: break-word;
}

#content{

    width: 1000px;
}
h1{

    margin: 0px auto;
}
table{
}

td{
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

.board{
    float: left;
    padding: 20px;
}
