/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*START OF REAL CSS*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body{
	font-family: 'Ubuntu', sans-serif;
	background: black;
}

p, span{
	font-size: 14px;
	color: white;
}

#desktop{
	position: relative; /* For keeping task-bar div inside of parent div */
	display: block;
	background: #16499a;
	margin: auto;
	top: 5px;
	background-image: url("pics/background.jpg");
	overflow: hidden;
}

/* Style for taskbar */
#taskbar{
	background: rgba(128, 21, 21, 0.8);
	height: 30px;
	position: absolute; /* Absolute and bottom for keeping taskbar att bottom of parent div */
	width: 100%;
	bottom: 0px;
	z-index: 9000000;
}

.icon{
	height: 25px;
	width: 25px;
	top: 3px;
	margin-left: 5px;
	position: relative;
}


/* Style for the window, its top/bottombar, statustext */

.window{
	display: block;
	position: absolute; /* stacking divs on top of each other */
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	outline: 1px solid black;

}
.wContent{
	background: white;
	display: block;
	overflow: auto;
	word-wrap: break-word;
	height: calc(100% - 40px);

}

.appMiniPic{
	position: absolute;
	margin-left: 2px;
	margin-top: 2px;
	width: 16px;
	height: 16px;
}

.wContent img{
	display: block;
	margin: 0px auto;

}
.wTopBar{
	display: block;
	width: 100%;
	background-color: #003366 ;

}

.wBottomBar{
	display: block;
	width: 100%;
	background-color: #003366 ;
	position: absolute;
	bottom: 0px;
}


.ajaxLoader{
	position: relative;
	top: 2px;
	left: 2px;
}

.wStatusText{
	position: absolute;
	top: 2px;
	width: 100%;
	text-align: center;
}

.topBarPics{
	position: relative;
	width: 15px;
	height: 15px;
	float: right;
	margin-top: 2px;
	margin-right: 2px;
}

/* ImageViewer */
.thumbDiv{
	display: block;
	position: relative;
	float: left;
	text-align: center;
	border: 1px solid black;
	background: white;
	margin: 5px;
}

.thumbURL{
	display: block;
}

/* Memory */

.memoryGame {
	margin: 0px auto;
	vertical-align: bottom;
}

.memVictoryMess{
	color: black;
	text-align: center;
}

/* RSS-reader */

.rssFeed{
	display: block;
	padding: 5px 5px 0px 5px;
}

.rssFeed h2{
	border-top: 1px solid black;
	padding-top: 4px;
}
.rssFeed a {
	font-size: 12px;
}
.rssFeed p {
	color: black;
}
.rssFeed img {
	border: 1px solid black;
	margin: 5px;
}
.rss_title{
	margin-top: 5px;
	font-size: 20px;
}

.feed{
	display: block;
	position: relative;
	float: right;
	color: white;
	font-size: 12px;
	margin-right: 5px;
	top: 4px;


}

/* For noselect when dragging around */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}